@use 'sass:math';
@import '../../../../styles/settings.scss';


.name {
  margin: $base-size 0;
  font-size: $base-size * 3;
}

.price {
  font-size: $base-size * 1.5;
}

.optionLabel {
    margin: $base-size 0;
  }
  
  .choices {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }